.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.staging.local
node_modules
dist
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.cache
*.turbo
.build
.env